@use "@/styles/breakpoints.scss" as breakpoints;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: clip;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.list-unstyled {
  list-style: none;
}
